<footer class="text-center">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
	<div class="border-top pt-4 row justify-content-md-center">
		<div class="col-sm-3">
			<strong>Address</strong>
			<address>
				Merton College<br>
				Merton Street<br>
				Oxford, OX1 4JD<br>
				United Kingdom
			</address>
		</div>
		<div class="col-sm-3">
			<strong>Email</strong><br>
			<a class="text-secondary" href="mailto:mail@edwinlock.com">mail@edwinlock.com</a>
      <br>
			<a class="text-secondary" href="mailto:edwin.lock@cs.ox.ac.uk">edwin.lock@cs.ox.ac.uk</a>
		</div>
    
		<div class="col-sm-3">
			<strong>Projects</strong> <br>
			<a class="text-secondary" href="http://testandcontain.com">Test and Contain (COVID-19)</a>
      <br>
			<a class="text-secondary" href="https://github.com/edwinlock/product-mix">Product-Mix Auction</a>
      <br>
      <div class="mt-2">
        <a class="text-secondary" href="http://github.com/edwinlock/">http://github.com/edwinlock/</a>
      </div>
		</div>
	</div>
	<span class="text-center pb-3">
    © Edwin Lock 2020
  </span>
</footer>
