<h2 class="mt-4">Publications</h2>

{% for paper in site.publications %}
  <div class='mt-4'>
    {{ paper.number }}. {{ paper.title }}
    <a class="badge badge-pill badge-secondary" href="{{ paper.link }}">link</a>
    <br>
    <small class="text-secondary">
      {{ paper.authors}}.
      <br>
      {{ paper.venue }},
      {% if paper.misc %} {{paper.misc }}, {% endif %}
      {{ paper.year }}
    </small>
  </div>
  <!-- <div class="mt-4 pb-1">
    {{ paper.content }}
  </div> -->
{% endfor %}