<!doctype html>
<html>
  {% include head.html %}
	<body class="container">
		{% include navigation.html %}
    <section class="row py-4">
      <div class="col-md-3 d-none d-md-block">
        <div class="text-center">
            <img src="assets/images/{{ page.image }}" class="img-fluid" alt="{{ page.caption }}">
            <small>{{ page.caption }}</small>
        </div>
      </div>

      <div class="col-md-9">
        {{ content }}
      </div>

    </section>
		{% include footer.html %}
	</body>
</html>
